.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  /* font-weight: bold; */
  margin-bottom: 0.5rem;
  display: block;
  color: #fff;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #fff;
  color: white;
  background-color: #010606;
  width: 20rem;
  max-width: 100%;
}
.new-expense__control input::-webkit-calendar-picker-indicator {
  background-color: #6c63ff;
}

.new-expense__actions {
  text-align: right;
  margin-left: 10px;
  margin-top: 17px;
}
